
<div align="center">

# Data Cleaning and Manipulation - Jupyter Notebook

***

## Overview
</div>

***

<div class="alert alert-block alert-info">
<b>Objetivo:</b> es limpiar y manipular el dataset  usando Pandas, dejandolo listo para futuros análisis. A continuacion encontrara una lista de los principales que vamos a realizar, ya que dependiendo del dataset pueden variar.

<code style="font-size: 20px;background:white; align:center">**To do list:**</code>

- [ ] Importar librerias
- [ ] Dataset necesarios
- [ ] Exploración inicial 
- [ ] Eliminacion de las columnas inecesarias 
- [ ] Eliminar las filas vacías
- [ ] Limpiar los datos de las columnas
- [ ] Renombre columnas
- [ ] Re-establecer el index

<div align="center">
<code style ="background:yellow; color: black ;font-size: 25px;" >⚠️ WARNING</code>
</div>
<div align="center">
<code style ="background:white;font-size: 12px" > Install the libraries , in case you dont have them! </code>
</div>

In [1]:
import pandas as pd
import numpy as np
from eso.tools import *
import re

# Opening csv

In [2]:
df=pd.read_csv("Input/attacks.csv", encoding="cp1252")

# Exploring dataframe
### Lets take a look of the dataframe we created!

In [4]:
df.shape

(25723, 24)

In [5]:
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

# Columns

Parece que hay dos columnas nombradas como Unnamed 22 /Unnamed 23 , de las cuales todos sus valores son nan.
Y podemos observar que las columnas case number esta repetida 3 veces a simple vista, a falta de comprobación. 
Vamos a comprobar si es asi para toda la columna o solo son estos casos que nos muestra el head del data frame.

In [7]:
#.info nos permite obtener este pick sobre el database, 
# como podeos observar en las columnas mecioandas solo tiene 3 no NaN 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [8]:
#Eliminacion de las columnas 22 y 23

In [9]:
df_no_unamed=df.drop(["Unnamed: 22" ,"Unnamed: 23"] ,axis=1)

In [10]:
#Estos son el numero total de NaN por columnas que dispone nuestro dataframe
df_no_unamed.isna().sum()

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
dtype: int64

In [11]:
#Vamos a comprobar la similitud de las columnas case number 1 y case number 2

In [12]:
print(df_no_unamed["Case Number.1"].equals(df_no_unamed["Case Number.2"]),"-> No son iguales")

False -> No son iguales

In [13]:
print(len(df_no_unamed[df_no_unamed["Case Number.1"]!=df_no_unamed["Case Number.2"]])," casos en los que no son iguales C.1 y C.2" )

19441  casos en los que no son iguales C.1 y C.2

In [14]:
#Exploremos
df_no_unamed[df_no_unamed["Case Number.1"]!=df_no_unamed["Case Number.2"]].head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
34,2018.04.03,03-Apr-2018,2018.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,St. Francis Bay,Surfing,Ross Spowart,M,...,N,15h00,White shark,"K. McMurray, TrackingSharks.com",2018.04.03-StFrancisBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.04.02,2018.04.03,6269.0
117,2017.07.20.a,20-Jul-2017,2017.0,Unprovoked,USA,California,"Seal Rock, Goleta Beach, Santa Barbara",SUP,Rolf Geyling,M,...,N,07h45,"White shark, 8' to 10'","R. Collier, GSAF",2017.07.20.a-Geyling.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017/07.20.a,2017.07.20.a,6186.0
144,2017.05.06,05-May-2017,2017.0,Unprovoked,MEXICO,Baja California Sur,"Los Arbolitos, Cabo Pulmo",Snorkeling,Andres Rozada,M,...,Y,17h00,NaN,J. Rozada,2017.05.06-Rozada.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2017.06.06,2017.05.06,6159.0
217,2016.09.15,16-Sep-2016,2016.0,Unprovoked,AUSTRALIA,Victoria,Bells Beach,Surfing,male,M,...,N,NaN,2 m shark,"The Age, 9/16/2016",2016.09.16-BellsBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2016.09.16,2016.09.15,6086.0
314,2016.01.24.b,24-Jan-2016,2016.0,Unprovoked,USA,Texas,Off Surfside,Spearfishing,Keith Love,M,...,N,09h30 / 10h00,Bull sharks x 2,K. Love,2016.01.24.b-Love.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2015.01.24.b,2016.01.24.b,5989.0

Podemos observar como la discrepancia no solo es en la introduccion de los datos , sino tambien entre las fechas en si. A raiz de esto utilizaremos el "Case Number" junto a "Date" ya que es el de los tres el que menos NaN tiene, y en caso de utilizarlo podremos usar "Date" para corroborarlo.

In [15]:
#Antes de seguir eliminado datos, vamos a seleccionar con que columnas  vamos a trabajar, necesaria para nuestras hipotesis.
#Ya que podemos dañar posibles datos utiles.

df_no_unamed=df_no_unamed[['Date', 'Year', 'Type', 'Country', 'Area',
       'Activity','Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species '] ]

# Rows

In [16]:
#Como podemos obervar sigue habiendo un monton de filas donde la gran mayoria de datos son Nan, por ello
#Ahora mismo el objetivo es eliminar todas las filas que contengas valores <> de NaN
#De esta forma eliminamos todas aquellas filas donde todos lo valores sean NaN

In [17]:
df_no_unamed=df_no_unamed.dropna(axis=0, how='any', thresh=11)
df_no_unamed

,Date,Year,Type,Country,Area,Activity,Sex,Age,Injury,Fatal (Y/N),Time,Species
0,25-Jun-2018,2018.0,Boating,USA,California,Paddling,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark
1,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,Standing,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN
2,09-Jun-2018,2018.0,Invalid,USA,Hawaii,Surfing,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN
6,03-Jun-2018,2018.0,Unprovoked,BRAZIL,Pernambuco,Swimming,M,18,FATAL,Y,Late afternoon,Tiger shark
7,27-May-2018,2018.0,Unprovoked,USA,Florida,Fishing,M,52,Minor injury to foot. PROVOKED INCIDENT,N,NaN,"Lemon shark, 3'"
...,...,...,...,...,...,...,...,...,...,...,...,...
6239,Before 1962,0.0,Unprovoked,MOZAMBIQUE,Maputo Province,Skindiving,M,36,Bumped by sharks,N,NaN,"""A pack of sharks"""
6241,1960s,0.0,Unprovoked,IRAQ,Basrah,Fishing from a small boat & put his hand in th...,M,25,Right hand severed,N,Afternoon,NaN
6242,1960s,0.0,Unprovoked,IRAQ,Basrah,Swimming naked near a date palm where many dat...,M,6,Arm severed,N,Afternoon,Bull shark
6243,1960s,0.0,Unprovoked,IRAQ,Basrah,Swimming in section of river used for washing ...,M,16,Right leg lacerated & surgically amputated,N,Afternoon,Bull shark
6265,1941-1942,0.0,Unprovoked,IRAQ,Basrah,Swimming,M,13 or 14,"FATAL, left leg bitten with severe blood loss",Y,Afternoon,Bull shark

In [18]:
#Como podemos comprobar a continuacion el numero de casos donde hay NaN se ha reducido muchisimo
df_no_unamed.isna().sum()

Date             0
Year             0
Type             0
Country          0
Area            17
Activity        16
Sex              8
Age            226
Injury           0
Fatal (Y/N)     87
Time           456
Species        737
dtype: int64

In [19]:
#Vamos a volver a echar un ojo al dataframe:
df_no_unamed

,Date,Year,Type,Country,Area,Activity,Sex,Age,Injury,Fatal (Y/N),Time,Species
0,25-Jun-2018,2018.0,Boating,USA,California,Paddling,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark
1,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,Standing,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN
2,09-Jun-2018,2018.0,Invalid,USA,Hawaii,Surfing,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN
6,03-Jun-2018,2018.0,Unprovoked,BRAZIL,Pernambuco,Swimming,M,18,FATAL,Y,Late afternoon,Tiger shark
7,27-May-2018,2018.0,Unprovoked,USA,Florida,Fishing,M,52,Minor injury to foot. PROVOKED INCIDENT,N,NaN,"Lemon shark, 3'"
...,...,...,...,...,...,...,...,...,...,...,...,...
6239,Before 1962,0.0,Unprovoked,MOZAMBIQUE,Maputo Province,Skindiving,M,36,Bumped by sharks,N,NaN,"""A pack of sharks"""
6241,1960s,0.0,Unprovoked,IRAQ,Basrah,Fishing from a small boat & put his hand in th...,M,25,Right hand severed,N,Afternoon,NaN
6242,1960s,0.0,Unprovoked,IRAQ,Basrah,Swimming naked near a date palm where many dat...,M,6,Arm severed,N,Afternoon,Bull shark
6243,1960s,0.0,Unprovoked,IRAQ,Basrah,Swimming in section of river used for washing ...,M,16,Right leg lacerated & surgically amputated,N,Afternoon,Bull shark
6265,1941-1942,0.0,Unprovoked,IRAQ,Basrah,Swimming,M,13 or 14,"FATAL, left leg bitten with severe blood loss",Y,Afternoon,Bull shark

In [20]:
#Como hemos podido ver el index hay que re-establecerlo, en este caso hemos de re-establecer el index

In [21]:

df_no_unamed=df_no_unamed.reset_index(drop=True)

df_no_unamed

,Date,Year,Type,Country,Area,Activity,Sex,Age,Injury,Fatal (Y/N),Time,Species
0,25-Jun-2018,2018.0,Boating,USA,California,Paddling,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark
1,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,Standing,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN
2,09-Jun-2018,2018.0,Invalid,USA,Hawaii,Surfing,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN
3,03-Jun-2018,2018.0,Unprovoked,BRAZIL,Pernambuco,Swimming,M,18,FATAL,Y,Late afternoon,Tiger shark
4,27-May-2018,2018.0,Unprovoked,USA,Florida,Fishing,M,52,Minor injury to foot. PROVOKED INCIDENT,N,NaN,"Lemon shark, 3'"
...,...,...,...,...,...,...,...,...,...,...,...,...
2977,Before 1962,0.0,Unprovoked,MOZAMBIQUE,Maputo Province,Skindiving,M,36,Bumped by sharks,N,NaN,"""A pack of sharks"""
2978,1960s,0.0,Unprovoked,IRAQ,Basrah,Fishing from a small boat & put his hand in th...,M,25,Right hand severed,N,Afternoon,NaN
2979,1960s,0.0,Unprovoked,IRAQ,Basrah,Swimming naked near a date palm where many dat...,M,6,Arm severed,N,Afternoon,Bull shark
2980,1960s,0.0,Unprovoked,IRAQ,Basrah,Swimming in section of river used for washing ...,M,16,Right leg lacerated & surgically amputated,N,Afternoon,Bull shark
2981,1941-1942,0.0,Unprovoked,IRAQ,Basrah,Swimming,M,13 or 14,"FATAL, left leg bitten with severe blood loss",Y,Afternoon,Bull shark

#Consistency of the data

# Labels

In [22]:
#Vamos a arreglar las etiquetas de las columnas

In [23]:
df_no_unamed=arreglatitulo(df_no_unamed)
df_no_unamed.columns

Index(['date', 'year', 'type', 'country', 'area', 'activity', 'sex', 'age',
       'injury', 'fatal', 'time', 'species'],
      dtype='object')

# Values

In [25]:
#DATE

In [26]:
df_no_unamed['date'].value_counts()

12-Apr-2001    4
20-Sep-2015    4
05-Oct-2003    4
14-Jun-2012    4
20-Apr-2003    3
              ..
23-Dec-2011    1
15-Apr-2003    1
10-Jul-2003    1
04-Feb 1993    1
07-Nov-1988    1
Name: date, Length: 2673, dtype: int64

In [27]:
#Solo queremos el mes

In [28]:
df_no_unamed=solomeses(df_no_unamed)

In [29]:
df_no_unamed['date'].value_counts()

Jul    329
Aug    314
Sep    282
Jun    261
Oct    238
Jan    237
Apr    235
Dec    213
Nov    192
Feb    191
Name: date, dtype: int64

In [30]:
#YEAR

In [31]:
df_no_unamed['year'].value_counts()

2015.0    94
2017.0    79
2016.0    77
2007.0    72
2012.0    71
          ..
1898.0     1
1925.0     1
1865.0     1
1852.0     1
1874.0     1
Name: year, Length: 128, dtype: int64

In [32]:
df_no_unamed=df_no_unamed[df_no_unamed.year!=0]

In [33]:
df_no_unamed['year']=df_no_unamed['year'].astype(int)

In [34]:
df_no_unamed.tail()

,date,year,type,country,area,activity,sex,age,injury,fatal,time,species
2967,Jan,1863,Unprovoked,AUSTRALIA,New South Wales,Bathing,M,17,FATAL,Y,Evening,NaN
2968,Dec,1862,Unprovoked,NEW ZEALAND,North Island,Swimming,M,28,Right thigh and left foot severely bitten,N,06h00 -- 07h00,NaN
2969,Jul,1862,Unprovoked,SPAIN,Cádiz,Swimming alongside the SS Kearsarge,M,NaN,FATAL,Y,18h30,16' shark
2971,Feb,1852,Sea Disaster,SOUTH AFRICA,Western Cape Province,Wreck of the steamship Birkenhead,M,NaN,FATAL. All of the women & children on board su...,Y,01h50,White sharks
2972,Jan,1837,Unprovoked,AUSTRALIA,New South Wales,Washing his feet,M,12,"FATAL Injured by shark, died of tetanus",Y,Evening,NaN

In [35]:
df_no_unamed['year'].value_counts()

2015    94
2017    79
2016    77
2007    72
2008    71
        ..
1887     1
1879     1
1877     1
1865     1
1852     1
Name: year, Length: 128, dtype: int64

In [36]:
#TYPE

In [37]:
df_no_unamed['type'].value_counts()

Unprovoked      2146
Provoked         191
Invalid           90
Boating           38
Sea Disaster      18
Boat               8
Questionable       1
Name: type, dtype: int64

En este caso hemos obtado por una categorizacion binaria, entre "Unprovoked" y "Provoked" para el análisis.

In [38]:
df_no_unamed['type'] = df_no_unamed['type'].apply(clentype)
df_no_unamed['type']=df_no_unamed.type.astype(str)
df_no_unamed['type'].value_counts()

Unprovoked    2301
Provoked       191
Name: type, dtype: int64

In [39]:
#COUNTRY

En este caso utilizaremos la función countries, limpiamos los datos para unicamente tener paises registrados.

In [40]:
df_no_unamed['country']= df_no_unamed['country'].apply(countries1)

In [41]:
df_no_unamed['country'].value_counts()

USA             1202
AUSTRALIA        533
SOUTH AFRICA     293
unknown           49
BAHAMAS           46
                ...
MALAYSIA           1
MADAGASCAR         1
CHILE              1
Fiji               1
HAITI              1
Name: country, Length: 68, dtype: int64

In [42]:
#ACTIVITY

In [43]:
df_no_unamed['activity'].value_counts()

Surfing                                                               631
Swimming                                                              408
Spearfishing                                                          162
Wading                                                                 95
Fishing                                                                87
                                                                     ...
Diving for pearl shell                                                  1
Scuba diving & feeding fish                                             1
Standing alongside surfboard                                            1
Spearfishing, Smith  & Walker touched shark with tip of their guns      1
Paddling in knee-deep water                                             1
Name: activity, Length: 528, dtype: int64

In [44]:
df_no_unamed['activity']=df_no_unamed['activity'].apply(cleanactivity)

In [65]:
df_no_unamed['activity'].value_counts()

Others          868
Surfing         663
Swimming        501
Spearfishing    199
Fishing         135
Diving           73
Name: activity, dtype: int64

In [46]:
#SEX

In [47]:
df_no_unamed['sex']=df_no_unamed['sex'].apply(sexclean)

In [48]:
df_no_unamed['sex'].value_counts()

M    2144
F     348
Name: sex, dtype: int64

In [49]:
#AGE

In [50]:
df_no_unamed['age']=df_no_unamed['age'].apply(cleanage)

In [51]:
df_no_unamed['age'].value_counts()

0     264
18    111
19    109
17     98
20     96
     ...
74      1
82      1
75      1
67      1
84      1
Name: age, Length: 69, dtype: int64

In [52]:
#INJURY
#We are not going to work with injury , but we will use it for fatal column

In [53]:
df_no_unamed['fatal']=df_no_unamed['injury'].apply(cleaninjury)

In [57]:
df_no_unamed['fatal'].value_counts()

No Fatal    2098
Fatal        394
Name: fatal, dtype: int64

In [55]:
#Time

In [58]:
df_no_unamed['time']=df_no_unamed['time'].fillna("Unkown")

In [59]:
df_no_unamed['time']=df_no_unamed['time'].apply(cleantime)

In [60]:
df_no_unamed['time'].value_counts()

Afternoon    1171
Evening       670
Morning       620
Night          31
Name: time, dtype: int64

In [56]:
#SPECIES AND AREA
#We are not goin to use it , so will are gonna drop it .

In [61]:
df_final=df_no_unamed.drop(["species", "area"],axis=1)

In [67]:
df_final

,date,year,type,country,activity,sex,age,injury,fatal,time
0,Jun,2018,Unprovoked,USA,Others,F,57,"No injury to occupant, outrigger canoe and pad...",No Fatal,Evening
1,Jun,2018,Unprovoked,USA,Others,F,11,Minor injury to left thigh,No Fatal,Afternoon
2,Jun,2018,Unprovoked,USA,Surfing,M,48,Injury to left lower leg from surfboard skeg,No Fatal,Morning
3,Jun,2018,Unprovoked,BRAZIL,Swimming,M,18,FATAL,Fatal,Afternoon
12,Apr,2018,Unprovoked,COSTA RICA,Others,M,30,"No injury, shark bit scuba gear",No Fatal,Morning
...,...,...,...,...,...,...,...,...,...,...
2967,Jan,1863,Unprovoked,AUSTRALIA,Others,M,17,FATAL,Fatal,Evening
2968,Dec,1862,Unprovoked,NEW ZEALAND,Swimming,M,28,Right thigh and left foot severely bitten,No Fatal,Evening
2969,Jul,1862,Unprovoked,SPAIN,Swimming,M,0,FATAL,Fatal,Evening
2971,Feb,1852,Unprovoked,SOUTH AFRICA,None,M,0,FATAL. All of the women & children on board su...,Fatal,Evening
2972,Jan,1837,Unprovoked,AUSTRALIA,Others,M,12,"FATAL Injured by shark, died of tetanus",Fatal,Evening

In [73]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2492 entries, 0 to 2491
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      2492 non-null   object
 1   year      2492 non-null   int64
 2   type      2492 non-null   object
 3   country   2492 non-null   object
 4   activity  2439 non-null   object
 5   sex       2492 non-null   object
 6   age       2492 non-null   int64
 7   injury    2492 non-null   object
 8   fatal     2492 non-null   object
 9   time      2492 non-null   object
dtypes: int64(2), object(8)
memory usage: 194.8+ KB

In [75]:
df_final.shape

(2492, 10)

# Clean dataframe
No tenemos archivos nulos, good to gooooo!

In [68]:
df_final=df_final.reset_index(drop=True)

In [70]:
df_final.to_csv('Output/Sharks_attacks_clean.csv',index=False)